$polygridWidth: convertToRems(600px);
$polygridHeight: convertToRems(600px);
.content-polypod-shell{
    width: $polygridWidth;
    height: $polygridHeight;
    position: relative;
    .content-marker{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 0;
        height: 0;
    }
}
.content-polypod{
    position: relative;
    width: $polygridWidth;
    height: $polygridHeight;
    transform: scale(1.5);
    .content-slide{
        opacity: .2;
    }
    .polypod-container{
        width: 20%;
        height: 20%;
        position: absolute;
        transform: translate(-50%, -50%);
        
        $leftFactor: (.933013 - .5) * 2;
        $leftSpace: 20;
        $topFactor: .75;
        $topSpace: 20;
        $icons: (
            "0": (50, 50),
            "1": (50 - (($leftSpace * $leftFactor) * 1), 50),
            "2": (50 + (($leftSpace * $leftFactor) * 1), 50),
            "3": (50 - (($leftSpace * $leftFactor) * 2), 50),
            "4": (50 + (($leftSpace * $leftFactor) * 2), 50),
            "5": (50 - (($leftSpace * $leftFactor) * .5), (50 - (($topSpace * $topFactor) * 1))),
            "6": (50 + (($leftSpace * $leftFactor) * .5), (50 - (($topSpace * $topFactor) * 1))),
            "7": (50 - (($leftSpace * $leftFactor) * .5), (50 - (($topSpace * $topFactor) * -1))),
            "8": (50 + (($leftSpace * $leftFactor) * .5), (50 - (($topSpace * $topFactor) * -1))),
            "9": (50 - (($leftSpace * $leftFactor) * 1.5), (50 - (($topSpace * $topFactor) * 1))),
            "10": (50 + (($leftSpace * $leftFactor) * 1.5), (50 - (($topSpace * $topFactor) * 1))),
            "11": (50 - (($leftSpace * $leftFactor) * 1.5), (50 - (($topSpace * $topFactor) * -1))),
            "12": (50 + (($leftSpace * $leftFactor) * 1.5), (50 - (($topSpace * $topFactor) * -1))),
            "13": (50 - (($leftSpace * $leftFactor) * 1), (50 - (($topSpace * $topFactor) * 2))),
            "14": (50 + (($leftSpace * $leftFactor) * 1), (50 - (($topSpace * $topFactor) * 2))),
            "15": (50 - (($leftSpace * $leftFactor) * 0), (50 - (($topSpace * $topFactor) * -2))),
        );

        @each $name, $glyph in $icons {
            &-#{$name}{
                left: nth($glyph, 1) * 1%;
                top: nth($glyph, 2) * 1%;
            }
        }

        //64.95195
    }
    
    .reactive-point{
        width: 0;
        height: 0;
        position: absolute;
        &::after{
            content: '';
            width: convertToRems(16px);
            height: convertToRems(16px);
            background-color: #0000cc;
            display: block;
            transform: translate(-50%, -50%);
        }
    }
}