.content-coverflow{
    .ccf-track{
        display: flex;
        justify-content: center;

        .ccf-item{
            justify-content: center;
            align-items: center;
            width: convertToRems(30px);
            height: convertToRems(200px);
            &-active{
                color: #ff0000;
                width: convertToRems(200px);
            }
        }
    }
}