$polygridWidth: convertToRems(600px);
$polygridHeight: convertToRems(600px);
$podWidth: 30;
$podHeight: 30;
.content-polypod-shell{
    width: $polygridWidth;
    height: $polygridHeight;
    position: relative;
    .polypod-content-container{
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        &.active{
            box-shadow: 0 0 0 convertToRems(5px) #ff0000 inset;
        }
    }
    .content-marker{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 0;
        height: 0;
        &::after{
            content: '';
            left: 0;
            top: 0;
            position: absolute;
            background-color: #ff00ff;
            width: convertToRems(20px);
            height: convertToRems(20px);
            transform: translate(-50%, -50%);

        }
    }
}
.content-polypod{
    &::before{
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 300%;
        height: 300%;
        display: block;
    }
    position: relative;
    width: $polygridWidth;
    height: $polygridHeight;
    .content-slide{
        opacity: .2;
    }
    .polypod-container{
        width: $podWidth * 1%;
        height: $podHeight * 1%;
        position: absolute;
        transform: translate(-50%, -50%);
        
        $leftFactor: (.933013 - .5) * 2;
        $leftSpace: $podWidth;
        $topFactor: .75;
        $topSpace: $podHeight;
        $icons: (
            "0": (50, 50),
            "1": (50 - (($leftSpace * $leftFactor) * 1), 50),
            "2": (50 + (($leftSpace * $leftFactor) * 1), 50),
            "3": (50 - (($leftSpace * $leftFactor) * 2), 50),
            "4": (50 + (($leftSpace * $leftFactor) * 2), 50),
            "5": (50 - (($leftSpace * $leftFactor) * .5), (50 - (($topSpace * $topFactor) * 1))),
            "6": (50 + (($leftSpace * $leftFactor) * .5), (50 - (($topSpace * $topFactor) * 1))),
            "7": (50 - (($leftSpace * $leftFactor) * .5), (50 - (($topSpace * $topFactor) * -1))),
            "8": (50 + (($leftSpace * $leftFactor) * .5), (50 - (($topSpace * $topFactor) * -1))),
            "9": (50 - (($leftSpace * $leftFactor) * 1.5), (50 - (($topSpace * $topFactor) * 1))),
            "10": (50 + (($leftSpace * $leftFactor) * 1.5), (50 - (($topSpace * $topFactor) * 1))),
            "11": (50 - (($leftSpace * $leftFactor) * 1.5), (50 - (($topSpace * $topFactor) * -1))),
            "12": (50 + (($leftSpace * $leftFactor) * 1.5), (50 - (($topSpace * $topFactor) * -1))),
            "13": (50 - (($leftSpace * $leftFactor) * 1), (50 - (($topSpace * $topFactor) * 2))),
            "14": (50 + (($leftSpace * $leftFactor) * 1), (50 - (($topSpace * $topFactor) * 2))),
            "15": (50 - (($leftSpace * $leftFactor) * 0), (50 - (($topSpace * $topFactor) * -2))),
        );

        @each $name, $glyph in $icons {
            &-#{$name}{
                left: nth($glyph, 1) * 1%;
                top: nth($glyph, 2) * 1%;
            }
        }

        //64.95195
    }
    
    .reactive-point{
        width: 0;
        height: 0;
        position: absolute;
        &::after{
            content: '';
            width: convertToRems(16px);
            height: convertToRems(16px);
            background-color: #0000cc;
            display: block;
            transform: translate(-50%, -50%);
        }
    }
}